@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	background: #9ecae0;
}

.wrapper{
	width: 100%;
	height: 100%;
}

.lboard_section{
	width: 500px;
	height: 400px;
	margin: 100px auto 0;
	background: #f94f62;
	padding: 25px 40px;
	position: relative;
	border-radius: 5px;
}

.lboard_wrap{
	position: absolute;
	top: 100px; /* Increased from 70px to move the yellow box down */
	left: 40px;
	background: #ffd300;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.lboard_wrap .lboard_item{
	padding: 25px;
}

.lboard_wrap .lboard_mem{
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid #ffe773;
}

.lboard_wrap .lboard_mem:first-child{
	padding-top: 0;
}

.lboard_wrap .lboard_mem:last-child{
	padding-bottom: 0;
	border-bottom: 0;
}

/* Color circles instead of images */
.img_circle {
	width: 55px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

.shahd {
	background-color: #2ad8ff;
}

.layan {
	background-color: #ff4e95;
}

.hala {
	background-color: #a537ff;
}

.lboard_wrap .lboard_mem .name_bar{
	margin: 0 20px;
	width: calc(100% - 150px);
}

.lboard_wrap .lboard_mem .name_bar p{
	color: #3a3d51;
	font-weight: 600;
}

.lboard_wrap .lboard_mem .points{
	width: 100px;
	color: #3a3d51;
	font-weight: 600;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap{
	width: 100%;
	height: 5px;
	background: #d5b000;
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap .inner_bar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.lboard_section h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    color: white;
}

.lboard_section .subtitle {
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    color: white;
    margin-bottom: 20px;
}